.footer{

    background-color: $darkBlue;
    padding: 2.5rem;
    text-align: center;

    .container{
        @include breakPoints-up(large){
            display: grid;
            grid-template-columns: repeat(3, 1fr) 2fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: 
            "logo links1 links2 cta"
            "social links1 links2 copyright";
            justify-items: start;
        }
    }

    a{
        color: $grayishBlue;
        svg path{
            transition: fill 200ms ease-in-out;
        }
        &:hover svg path{
            fill: $limeGreen;
        }
        transition: color 200ms ease-in-out;
        &:hover{
            color: $limeGreen;
        }
    }

    &__logo{
        img{
            @include breakPoints-down(medium){
                margin-bottom: 1.875rem;
            }
        }

        @include breakPoints-up(large){
            grid-area: logo;
        }
    }

    &__social{

        @include breakPoints-down(medium){
            margin-bottom: 1.875rem;
        }

        @include breakPoints-up(large){
            grid-area: social;
            align-self: end;
        }

        a{
            display: inline-block;
        }

        a:not(:last-child){
            margin-right: 1rem;
        }
    }

    &__links{

        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.93rem;
        color: $grayishBlue;

        @include breakPoints-up(large){
            align-items: start;
            justify-content: space-between;
            margin-left: 2rem;
        }
        &.col1{
            @include breakPoints-up(large){
                grid-area: links1;
            }
            @include breakPoints-down(medium){
                line-height: 2;
            }
        }

        &.col2{
            @include breakPoints-down(medium){
                margin-bottom: 1.875rem;
                line-height: 2;
            }
            @include breakPoints-up(large){
                grid-area: links2;
            }
        }
    }

    &__cta{
        @include breakPoints-up(large){
            grid-area: cta;
            justify-self: end;
        }

        button{
            margin-bottom: 0.7rem;
            @include breakPoints-down(medium){
                margin-bottom: 1.875rem;
            }
        }
    }

    &__copyright{
        font-size: 0.93rem;
        color: $grayishBlue;
        @include breakPoints-up(large){
            grid-area: copyright;
            justify-self: end;
            align-self: end;
        }
    }
}